<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		{{ content_for_header }}
	  
		  {% style %}
	  
			body {
			  background-color: black;
			}
	  
		  {% endstyle %}
	  

		{{ 'base.css' | asset_url | stylesheet_tag }}
	</head>	
	<body>
		<main>
			{% section 'header' %}
			{{ content_for_layout }}
		</main>
	</body>
<html>