{%- if settings.header_position == 'left' -%}
  {{ 'header-vertical.css' | asset_url | stylesheet_tag }}
{%- else -%}
  {{ 'header.css' | asset_url | stylesheet_tag }}
{%- endif -%}

    <header class="header">
      {% for block in section.blocks %}  
        {% case block.type %}
    
          {% when 'logo' %} 
            <div class="logo-container" {{ block.shopify_attributes }}>
              {% render 'logo' %}
            </div> 
      
          {% when 'navigation' %}
            <nav {{ block.shopify_attributes }}>
              <ul class="header__menu">
                  <li>Home</li>
                  <li>Catalog</li>
                  <li>Contact</li>
              </ul>
            </nav>

          {% when 'cart' %}
            <div class="cart">Cart</div>
        {% endcase %} 
      {% endfor %}  
    </header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    }
  ]
}
{% endschema %}