{{ 'header.css' | asset_url | stylesheet_tag }}

{%- if settings.vertical-header -%}
    {% layout 'theme.alternate' %}
    <header class="header">
        <nav>
            <ul>
                <li>Collections</li>
            </ul>
        </nav>
        <div class="header__logo">Logo</div>
    </header>
{% else %}
    <header class="header">
        <nav>
            <ul>
                <li>Collections</li>
            </ul>
        </nav>
        <div class="header__logo">Logo</div>
    </header>
{%- endif -%}



