{%- if settings.header_position == 'left' -%}
  {{ 'header-vertical.css' | asset_url | stylesheet_tag }}
{%- else -%}
  {{ 'header.css' | asset_url | stylesheet_tag }}
{%- endif -%}



    <header class="header">
        {% render 'logo' %}
      	{%- if settings.header_position == 'left' and section.settings.logo_position == 'right' -%}
          {% style %}
            .logo-container {
              position: sticky;
              height: 100vh;
              top: 0;
              right: 0;
            }
          {% endstyle %}
        {%- endif -%}
        {%- if settings.header_position == 'top' and section.settings.logo_position == 'left' -%}
          {% style %}
            .logo-container {
              order: 1;
            }
          {% endstyle %}
        {%- endif -%}
        <nav>
            <ul class="header__menu">
                <li>Home</li>
                <li>Catalog</li>
                <li>Contact</li>
            </ul>
        </nav>
        <div class="cart">Cart</div>
    </header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "Left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "Right",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        }
      ],
      "default": "Left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    }
  ]
}
{% endschema %}