{%- if settings.vertical-header -%}
    {% layout 'theme.alternate' %}
{%- endif -%}

{{ 'header.css' | asset_url | stylesheet_tag }}

<header class="header">
    <nav>
        <ul>
            <li>Collections</li>
        </ul>
    </nav>
    <div class="header__logo">Logo</div>
</header>