{%- if settings.header_position == 'left' -%}
  {{ 'header-vertical.css' | asset_url | stylesheet_tag }}
{%- else -%}
  {{ 'header.css' | asset_url | stylesheet_tag }}
{%- endif -%}

    <header class="header">
      {% for block in section.blocks %}  
        {% case block.type %}
    
          {% when 'logo' %} 
            <div class="logo-container" {{ block.shopify_attributes }}>
              {% render 'logo' %}
            </div> 
      
          {% when 'navigation' %}
            <nav {{ block.shopify_attributes }}>
              <ul class="header__menu">
                  <li>Home</li>
                  <li>Catalog</li>
                  <li>Contact</li>
              </ul>
            </nav>

          {% when 'cart' %}
            <div class="cart">Cart</div>
        {% endcase %} 
      {% endfor %}
    </header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "id": "logourl",
          "type": "url",
          "label": "Logo url"
        },
        {
          "id": "logotext",
          "type": "text",
          "label": "Logo text"
        }
      ]
    },
    {
      "type": "navigation",
      "name": "Navigation menu",
      "settings": [
        {
          "id": "navigation",
          "type": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "cart",
      "name": "Cart",
      "settings": [
        {
          "id": "cart",
          "type": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}