{%- if settings.header_type == 'vertical_top' or settings.header_type == 'vertical_stretched' or settings.header_type == 'vertical_right_top_logo' or settings.header_type == 'vertical_right_middle_logo' -%}
  {{ 'header-vertical.css' | asset_url | stylesheet_tag }}
{%- else -%}
  {{ 'header.css' | asset_url | stylesheet_tag }}
{%- endif -%}

    <header class="header">
      {% for block in section.blocks %}  
        {% case block.type %}
    
          {% when 'logo' %} 
            <div class="logo-container" {{ block.shopify_attributes }}>
              {% render 'logo' %}
            </div> 
      
          {% when 'navigation' %}
            <nav {{ block.shopify_attributes }}>
              <ul class="header__menu">
                  <li>Home</li>
                  <li>Catalog</li>
                  <li>Contact</li>
              </ul>
            </nav>

          {% when 'cart' %}
            <div class="cart">Cart</div>
        {% endcase %} 
      {% endfor %}
    </header>

{% schema %}
{
  "name": "t:sections.header.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "logo",
      "name": "t:sections.header.blocks.logo.name"
    },
    {
      "type": "navigation",
      "name": "Navigation menu",
      "settings": [
        {
          "id": "navigation",
          "type": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "cart",
      "name": "Cart",
      "settings": [
        {
          "id": "cart",
          "type": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "logo"
      },
      {
        "type": "cart"
      }
    ]
  }
}
{% endschema %}