* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

main {
    padding-left: 30px;
    padding-right: 30px;
}