.section-header {
    /*height: 100vh;*/
    position: sticky;
    top: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    height: 100%;
    max-width: 150px;
    background-color: grey;
}

header nav {
    width: 100%;
}

.header__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}